################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JAVA/.vs/slnx.sqlite
/.vs
/JAVA/.vs/VSWorkspaceState.json
/JAVA/.vs/ProjectSettings.json
/JAVA/.vs/JAVA/v16/.suo
